<!doctype html>
<html lang="pt-br">

<head>
    <title>Tela Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <style>

    </style>
</head>

<body>
    <nav class="navbar azulEscuro ">
        <div class="container-fluid mx-2">
            <a class="navbar-brand fs-2 text-white" href="#">
                <img src="../images/Logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                TagMaster
            </a>
            <div>
                <button type="button" class="btn btn-secondary text-white me-4 btn-lg"
                    onclick="abrirPopupTags(<%= JSON.stringify(tags) %>)">TAGS</button>
                <button type="button" class="btn btn-secondary text-white me-4 btn-lg"
                    id="openPopupLixeira">LIXEIRA</button>
                <button type="button" class="btn btn-secondary  text-white me-4 btn-lg">ENTRAR</button>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="table-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button class="btn bg-primary text-white fw-bold"
                    onclick="openPopupCriarNotas(<%= JSON.stringify(tags) %>)">+ Criar Nota</button>
                <div class="w-50 d-flex align-items-center">

                    <button class="btn btn-custom btn-filter me-3 d-flex align-items-center" id="ordenarNotas"
                    onclick="ordenarNotasPorData(<%= JSON.stringify(notas) %>, <%= JSON.stringify(tags) %>)">
                        Ordenar Por data
                    </button>


                    <button class="btn btn-custom btn-filter me-3 d-flex align-items-center"
                        id="openPopupFiltrarNota">Filtrar
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-funnel ms-2" viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                        </svg>
                    </button>

                    <input type="text" class="form-control text-white"
                        placeholder="Buscar termos em títulos e descrições">
                </div>
            </div>
            <table class="table table-dark table-bordered table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody id="listaNotas">

                </tbody>
            </table>
        </div>

    </main>
    <div class="overlay" id="overlay">
        <div class="popup position-relative rounded-3 overflow-hidden">

        </div>
    </div>


    <script>
        window.addEventListener('load', () => {
            const notas = <%- JSON.stringify(notas) %>;  // O EJS converte para um objeto válido (não como uma string)
            const tags = <%- JSON.stringify(tags) %>;

            renderizarNotas(notas, tags)
            
        });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../javascript/javascript.js"></script>
</body>

</html>